body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Ariel, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: #f2f2f2;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* copied from https://allyjs.io/tutorials/hiding-elements.html#how-to-hide-elements-visually */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* copied from http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.content-all {
  padding: 0 40px;
}

.content-center {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.shaded {
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.2), 5px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.main-navigation {
  background-color: white;
  position: relative;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 17px 72px;
  padding-bottom: 18px;
  /* outline: 2px green solid; */
}

.site-navigation .header-column-left,
.site-navigation .header-column-right {
  width: 241px;
  /* outline: 2px gold solid; */
}

.site-navigation .header-column-left {
  text-align: left;
}

.site-navigation .header-column-right {
  text-align: right;
}

.header-column-left:nth-child(2) {
  margin-right: 92px;
}

.header-column-right:first-child {
  padding-right: 4px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation a {
  color: black;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.current {
  color: #766357;
}

.container-sedona-mountains {
  background-color: #a2aab4;
  background-image: url('../img/mountain-bottom-overlay.png'), url('../img/background-mountains.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position-y: 451px, -56px;
  padding-top: 76px;
}

.container-advantages {
  margin-top: -2px;
}

.container-sedona-mountains img {
  display: block;
  margin: 0 auto;
  padding-bottom: 142px;
  width: 458px;
  height: 494px;
}

.before-features,
.after-features {
  background-color: white;
}

.before-features {
  line-height: 26px;
  text-align: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 51px;
}

.before-features b {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.before-features p {
  margin: 0;
  padding: 0;
}

.feature-and-pic p {
  margin: 0;
  padding: 0;
}

.feature-and-pic {
  display: flex;
}

.feature-and-pic p {
  text-align: center;
}

.feature-and-pic .picture {
  width: 800px;
  height: 256px;
}

.before-features p:last-child,
.after-features p:last-child {
  font-weight: 400;
  color: #333333;
}

.after-features p:last-child {
  line-height: 24px;
}

.feature-and-pic-description {
  padding: 47px 60px;
  background-color: #81b3d2;
  color: white;
  display: flex;
  flex-direction: column;
}

.feature-and-pic-description h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.feature-and-pic-description p {
  margin-top: 23px;
}

.three-features.with-icons {
  background-color: white;
}

.three-features {
  background-color: #eeeeee;
}

.three-features p,
.three-features h3,
.three-features ul,
.three-features li {
  margin: 0;
  padding: 0;
}

.three-features.with-icons h3 {
  margin-bottom: 24px;
}

.three-features ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.three-features li {
  padding: 60px 0 134px 0;
  flex-basis: 400px;
}

.three-features.with-icons li {
  position: relative;
  padding: 161px 73px 83px;
  flex-basis: 400px;
}

.three-features.with-icons p {
  margin-bottom: 0;
}

.three-features.with-icons section::before {
  position: absolute;
  content: "";
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  top: 60px;
  bottom: 0;
  left: 161px;
  right: 0;
  width: 75px;
  height: 75px;
}

.three-features.with-icons .accomodation::before {
  background-image: url('../img/icon-1.svg');
}

.three-features.with-icons .food::before {
  background-image: url('../img/icon-3.svg');
  top: 61px;
}

.three-features.with-icons .gifts::before {
  background-image: url('../img/icon-2.svg');
  top: 57px;
  left: 168px;
}

.three-features li {
  padding: 47px 95px 38px;
  flex-basis: 400px;
}

.three-features h3 {
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.three-features p {
  margin-bottom: 22px;
  color: #333333;
  text-align: center;
}

.after-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.after-features b {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px;
}

.after-features p {
  color: #333333;
  text-align: center;
  margin-bottom: 52px;
}

.btn {
  font: inherit;
  text-transform: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  border: none;
}

.hotel-search-open-form-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 30px 139px;
  width: 568px;
}

.hotel-search-submit-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 16px 150px;
  width: 458px;
  word-wrap: break-word;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  background-color: #503e33;
}

.search-form-section {
  position: relative;
  justify-content: center;
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 700;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 568px;
  padding: 55px;
  margin: 0 auto;
}

.search-form p {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.search-form label {
  margin-right: 12px;
  width: 95px;
  display: inline-block;
  vertical-align: baseline;
}

.search-form input {
  background-color: #f2f2f2;
  font: inherit;
  text-transform: inherit;
  font-weight: 700;
  line-height: 26px;
  padding: 6px 13px;
  border: 0;
  width: 346px;
}

.search-form input::-webkit-input-placeholder {
  color: black;
}

.search-form input:active,
.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form input:hover {
  background-color: #ebebeb;
}

/* WA for spaces and newlines -> */

.adults-kids-count {
  font-size: 0;
}

.adults-kids-count label,
.adults-kids-count button,
.adults-kids-count input {
  font-size: 14px;
}

/* <- */

.search-form-minus-btn,
.search-form-plus-btn {
  padding: 5px 13px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  vertical-align: top;
}

.search-form .adults-kids-count {
  margin-bottom: 55px;
}

.adults-kids-count input {
  width: 38px;
  height: 38px;
  padding: 10px 15px;
}


.search-form-minus-btn:focus,
.search-form-minus-btn:hover,
.search-form-plus-btn:focus,
.search-form-plus-btn:hover {
  color: black;
}

.search-form-minus-btn:active,
.search-form-plus-btn:active {
  color: #81b3d2;
}

.adults-kids-count .search-form-item-left {
  margin-right: 16px;
} 

.adults-kids-count .search-form-item-right {
  width: 38px;
  margin-left: 53px;
  margin-right: 28px;
}

.map {
  height: 593px;
}

.main-footer {
  position: relative;
  padding-left: 132px;
  padding-right: 100px;
  margin-top: -120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-inner {
  position: static;
  margin-top: 0;
}

.main-footer .hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: black;
}

.filter {
  background-color: #5f768a;
  background-image: url('../img/hotels-background.jpg');
  background-repeat: no-repeat;
  background-position-y: -56px;
  color: white;
}

.grouping-wrapper-left {
  width: 528px;
  display: flex;
  /* outline: solid 1px red; */
}

.inner-flex-left {
  margin: 0;
  padding: 0;
  width: 241px;
}

.inner-flex-right {
  margin: 0;
  padding: 0;
  width: 288px;
}

.grouping-wrapper-right {
  width: 328px;
  /* outline: solid 1px yellow; */
}

.hotels .grouping-wrapper-right {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fieldset-title {
  padding-bottom: 11px;
}

.filter-input-checkbox,
.filter-option {
  padding-bottom: 25px;
}

.filter-input-checkbox:last-child,
.filter-option:last-child {
  padding-bottom: 0;
}

.flex-layout-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 72px 19px;
}

.filter fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-price input {
  font: inherit;
  color: white;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 2px;
}

.filter-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: white;
  color: rgba(0, 0, 0, 1.0);
}

.hotels {
  background: white;
}

.hotels .flex-layout-wrapper {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 17px;
}

.hotels .inner-flex-left {
  display: flex;
  justify-content: space-between;
}

.hotels-found-count {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-word {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.hotels-sorting-wrapper {
  display: flex;
  /* outline: 2px solid orange; */
}

.hotels-sorting {
  font-size: 12px;
  line-height: 18px;
}

.hotels-sorting ul {
  list-style: none;
  display: flex;
}

.hotels-sorting a {
  color: black;
}

.hotels-sorting .hotels-sorting-criteria {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting .hotels-sorting-criteria:focus,
.hotels-sorting .hotels-sorting-criteria:hover {
  color: #81b3d2;
}

.hotels-sorting .hotels-sorting-criteria:active {
  color: black;
  border-bottom: none;
}

.hotels-sorting .hotels-sorting-criteria-current {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotels-list p {
  margin: 0;
}

.hotels-list .hotel-image {
  margin-right: 30px;
}

.hotel-image img {
  width: 135px;
  height: 90px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.hotel-name:focus,
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-quality-rating {
  background-color: #f2f2f2;
  color: #666666;
}

.hotel-flex-inner-layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-flex-inner-layout-wrapper p,
.hotel-flex-inner-layout-wrapper h3 {
  margin: 0;
  padding: 0;
}

.hotel-booking .btn {
  font-weight: 700;
  padding: 4px 17px;
}

.hotel-quality-stars img {
  padding-right: 3px;
}

.hotel-quality-stars img:last-child {
  padding-right: 0;
}

.hotel-quality-rating {
  padding: 3px 14px;
}
