body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Ariel, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.main-navigation {
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: black;
    font-weight: 700;
}

.site-navigation a:hover, .site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgb(0, 0, 0, 0.3);
}

.site-navigation a.current {
    color: #766357;
}

.container-sedona-mountains {
    background-color: #a2aab4;
    background-image: url("../img/background-mountains.jpg");
    background-repeat: no-repeat;
}

.before-features, .after-features {
    background-color: white;
}

.before-features {
    line-height: 26px;
}

.before-features b {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.before-features p:last-child, .after-features p:last-child {
    font-weight: 400;
    color: #333333;
}

.after-features p:last-child {
    line-height: 24px;
}

.feature-and-pic-description {
    background-color: #81b3d2;
}

.feature-and-pic-description {
    background-color: #81b3d2;
    color: white;
}

.feature-and-pic-description p:first-child {
    font-size: 21px;
}

.three-features.with-icons {
    background-color: white;
}

.three-features {
    background-color: #eeeeee;
}

.three-features ul {
    list-style: none;
}

.three-features li p:first-child {
    font-size: 21px;
    font-weight: 700;
}

.three-features li p:not(:first-child) {
    color: #333333;
}

.after-features {
    background-color: white;
}

.after-features b {
    font-size: 30px;
    line-height: 36px;
}

.after-features p {
    color: #333333;
}

.after-features p {
    color: #333333;
}

.btn {
    font: inherit;
    text-transform: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    border: none;
}

.hotel-search-open-form-btn,
.hotel-search-submit-btn {
    font-size: 21px;
    line-height: 26px;    
}
 
.btn-blue {
    background-color: #81b3d2;
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #669ec0;
}

.btn-blue:active {
    background-color: #5496bd;
}

.btn-brown {
    background-color: #766357;
}

.btn-brown:hover, .btn-brown:focus {
    background-color: #604e43;
}

.btn-brown:active {
    background-color: #503e33;
}

.search-form {
    background-color: white;
}

.search-form input {
    background-color: #f2f2f2;
    font: inherit;
    text-transform: inherit;
    font-weight: 700;
    line-height: 26px;
    border: 0px;
}

.search-form input:active, .search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #ebebeb;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form-minus-btn,
.search-form-plus-btn {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: #f2f2f2;
}

.search-form-minus-btn:focus,
.search-form-minus-btn:hover,
.search-form-plus-btn:focus,
.search-form-plus-btn:hover {
    color: black;
}

.search-form-minus-btn:active,
.search-form-plus-btn:active {
    color: #81b3d2;
}

.main-footer {
    background-color: white;
}

.main-footer p:first-of-type {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-social ul {
    list-style: none;
}

.footer-social a {
    font: inherit;
    color: black;
}

.filter {
    background-color: #5f768a;
    background-image: url("../img/hotels-background.jpg");
    background-repeat: no-repeat;
    color: white;
}

.filter fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filters legend {
    font-size: 16px;
    font-weight: 700;
}

.filter-price input {
    font: inherit;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
}

.filter-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
}

.filter-button:hover, .filter-button:focus, .filter-button:active {
    background-color: white;
    color: rgba(0, 0, 0, 1.0);
}

.hotels {
    background: white;
}

.hotels-found-count {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.hotels-sorting {
    font-size: 12px;
    line-height: 18px;
}

.hotels-sorting ul {
    list-style: none;
}

.hotels-sorting a {
    color: black;
}

.hotels-sorting .hotels-sorting-criteria {
    color: rgb(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting .hotels-sorting-criteria:focus, .hotels-sorting .hotels-sorting-criteria:hover {
    color: #81b3d2;
}

.hotels-sorting .hotels-sorting-criteria:active {
    color: black;
    border-bottom: none;
}

.hotels-sorting .hotels-sorting-criteria-current {
    color: #81b3d2;
    border-bottom: none;
}

.hotel-name h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: black;
}

.hotel-name:focus h3, .hotel-name:hover h3 {
    color: #81b3d2;
}

.hotel-name:active h3 {
    color: rgb(0, 0, 0, 0.3);
}

.hotel-quality-rating {
    background-color: #f2f2f2;
    color: #666666; 
}